*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    text-align: center;
    padding: 5% 0;
    align-items: center;
    background-color: darkgreen
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

ul {
    display: flex;
    flex-direction: flex-end;
    margin-right: 0.5em;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: #fff;
}

h1 {
    background-color: papayawhip;
}

main {
    background-color: papayawhip;
    padding: 1rem
}

section {
    background-color: papayawhip;
}

label {
    color: darkgreen;
    text-align: left;
    margin-right: 5px;
}

input {
    background-color: papayawhip;
    border-style: none;
    border-radius: 16px;
    padding: 0.5em;
    margin-left: 5px;
}

textarea {
    background-color: papayawhip;
    border-style: none;
    border-radius: 16px;
    height: 200px;
}

.brand {
    color: #fff;
    display: flex;
    flex-direction: flex-start;
}

.directory {
    display: flex;
    flex-direction: flex-end;
    text-decoration: none;
}

.about-section {
    margin: 1rem auto;
    width: 80%;
    background-color : rgba(0, 125, 0, 0.2);
    padding: 0.5rem 0.25rem;
    margin-bottom: 1em;
    border-radius: 5%;
    box-shadow: 5px 5px 20px green;
}

.about-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.profile-pic {
    border-radius: 50%;
}

.title {
    font-size: 48px;
    text-align: center;
    color: darkgreen;
}

.description {
    margin-top: 1rem;
    text-align: center;
    color: darkgreen;
}

.form-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 125, 0, 0.2);
    padding: 0.5rem 0.5rem;
    border-radius: 5%;
    margin-bottom: 5px;
    box-shadow: 5px 5px 20px green;
    flex-direction: column;
    align-items: center;
}

.form-item {
    display: flex;
    align-items: center;
    padding: 0.5rem .75rem;
}

.submit-btn {
    border-style: none;
    background-color: darkgreen;
    color: white;
    padding: 0.25rem;
    border-radius: 16px;
}